@media all and (max-width: 480px) {

    .navigation ul{
        flex-direction: column;
    }
    .navigation li {
        flex-basis: 100%; 
    }  
}
body {
    Font-family: 'Fira Sans', sans-serif;
    margin: 0;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
.main {
    margin: 0 auto;  
    padding: 0 3em 1.5em;  
}
.navigation{
    display: flex;
    align-items: flex-end;  
    justify-content: flex-end;
    margin-top: 5vh;
}

 .navigation ul {  
    border: 0.1em rgb(3, 3, 3); 
    border-radius: 0.3em;
    background-color: rgba(201, 201, 201);
    list-style: none;  
    margin: 0; 
    padding: 0;  
    display: flex;
    align-items: flex-end;  
    justify-content: flex-end;
}
.navigation li {
    flex: 2;
    width: 10em;
    padding: 1em;
    text-align: center;
    border-right: 0.1em solid black;
}
h1{
    color: rgb(211, 208, 208);
}
#roombutton{
    background-color: #4b80f3;
    border: none;
    color: rgb(3, 3, 3);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.flex-container {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-inner{
    display: flex;
    height: 10em;
    width: 25em;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: auto;
    border: 0.1em solid rgba(201, 201, 201, 0.39);
    border-radius: 0.3em;
    margin: 0;
    background-color: rgba(58, 58, 58, 0.582);
}
.flex-rooms{
    display: flex;
    height: 10em;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: auto;
    border: 0.1em solid rgba(201, 201, 201, 0.39);
    border-radius: 0.3em;
    margin: 1em;
    background-color: rgba(58, 58, 58, 0.582);
}