.App{ 
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(1, 103, 123);;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 217, 255);
  } 