.messages{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    list-style: none;
    max-width: 23vw;
    background-color:rgb(1, 103, 123);
    border-radius: 0.3em;
    padding: 5px;
    margin: 5px 0 0 0;
}
.messageUser::after{
    white-space: pre;
}
.messageTime{
    white-space: nowrap;
    margin: 5px;
}
.messageUser{
    white-space: nowrap;
    margin: 5px;
    font-weight: bold;
}
.messageText{
    margin: 5px;
    padding-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: break-word;
}
@media only screen and (max-width:700px){
    .messages{
        margin: 1px;
        margin-right: 1vh;
    }
    .messageUser::after{
        content: normal;
        white-space: pre;
    }

}