.messages{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style: none;
    max-height: 4vh;
    height: 100%;
    background-color: gray;
    padding: 5px 0  5px 0;
    margin: 5px 0 0 0;
    width: 100%;
}
.messageUser::after{
    content: '\A';
    white-space: pre;
}
.messageTime{
    white-space: nowrap;
    margin: 5px;
}
.messageUser{
    white-space: nowrap;
    margin: 5px;
    font-weight: bold;
}
.messageText{
    white-space: nowrap;
    margin: 5px;
    padding-bottom: 0;
}
@media only screen and (max-width:700px){
    .messages{
        margin: 1px;
        margin-right: 1vh;
    }
    .messageUser::after{
        content: normal;
        white-space: pre;
    }

}