.messages{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    list-style: none;
    max-width: 23vw;
    background-color:rgb(1, 103, 123);
    border-radius: 0.3em;
    padding: 5px;
    margin: 5px 0 0 0;
}
.messageUser::after{
    white-space: pre;
}
.messageTime{
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
    margin: 0.5vw;
}
.messageUser{
    white-space: nowrap;
    margin: 0.5vw;
    font-weight: bold;
}
.messageText{
    margin: 0.5vw;
    padding-bottom: 0;
    overflow-wrap: break-word;
}

@media only screen and (max-width:900px){
    .messages{
        max-width: 96vw;
    }
}