.chat-header{
    padding: 1vh 0 1vh 0;
    height: 4vh;
    margin:0;
}
.chat-list{
    height: 56vh;
    overflow-y: auto;
    margin:0;
    display: flex;
    flex-direction: column;
}
.chat-list > :first-child{
    margin-top: auto;
}
.chat-input{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 1vh;
    height: 10vh;
}

@media only screen and (max-width:900px){
    .chat-list{
        height:24vh;
    }
    .chat-header{
        width:96vw;
    }
    .chat-input{
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}