.flex-create-room{
    grid-area: create;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#roombutton{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 0.3em;
}

@media only screen and (max-width:900px){
    .flex-create-room {
        height: 40vh;
    }
}
