.event-flex-hidden{
    position: fixed;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    width: 100vw;
    height: 4vh;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding: 1vh 2vw;
    z-index: 5;
    top:-8vh;
    transition: 500ms;
}

.event-flex-shown{
    position: fixed;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    width: 100vw;
    height: 4vh;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding: 1vh 2vw;
    z-index: 5;
    top:0;
    transition: 100ms;
}

.event-green{
    background-color: #09db41;
}
.event-red{
    background-color: #db0941;
}
.event-gray{
    background-color: #414141;
}