.footer-container {
    grid-area: footer;
    width: 96vw;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: rgb(0, 0, 0);
    padding: 1vh 2vw 1vh 2vw;
}
.footer-p{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 2vw;
    height: 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.footer-right{
    margin-right: 0;
}

@media only screen and (max-width:900px) {
    .footer-container{
        height: 6vh;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-p{
        white-space: pre;
        font-size:small;
    }
}

@media only screen and (max-height:400px){
    .footer-container{
        height: 6vh;
        flex-direction: row;
    }
    .footer-p{
        white-space:nowrap;
    }
}