.modal-help-content {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(26, 25, 25);
    padding: 1vh 1vw;
    border-radius: 0.3rem;
    height: 70vh;
    width: 80vw;
    color: white;
    overflow-y: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.help-element{
    z-index: 2;
    color: white;
    border-radius: 0.3em;
    border: 1px black solid;
    height: 5.7vh;
    padding: 0 0.5vw 0.5vh 0.5vw;
    margin: 1vh 0;
    overflow-y: hidden;
    background-color:rgb(1, 103, 123);
}

.help-element:hover{
    height: auto;
    transition: 400ms;
}
.help-element:focus{
    height: auto;
}
@media only screen and (max-width:900px){
    .help-element{
        height: auto;
    }
}