.modal-help2-content {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 14px 28px;
    width: 50vw;
    height: 50vh;
    border-radius: 3px;
}

.modal-help-content {
    z-index: 3;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 1vh 1vw;
    border-radius: 0.3rem;
    height: 50vh;
    width: 50vw;
    color: white;
}