.input-user-label {
    color: white;
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 1vw;
}

#UserName {
    color: white;
    background-color: rgb(30, 30, 30);
}

.modal-btn {
    background-color: white;
    color: black;
    width: 30px;
    height: 25px;
    right: 10px;
    top: 10px;
    position: fixed;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.modal-btn:hover{
    background-color:rgb(1, 103, 123);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(40, 40, 40, 0.8);
    width: 100vw;
    height: 100vh;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 1vh 2vw;
    border-radius: 0.3rem;
    max-width: 600px;
    min-width: 300px;
}
@media only screen and (max-width:900px){

}