.sum {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 96vw;
    height: 7vh;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 2vh 2vw 0 2vw;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    height: 2em
}
.logo-link {
    display:flex;
    cursor: pointer;
    height: 100%;
}
.logo-title{
    color: rgb(0, 217, 255);
}

@media only screen and (max-width:900px){
    .sum{
        flex-direction: column;
        align-items: flex-start;
        height:10vh;
    }
    .logo{
        font-size: 1.5em;
        height:1.5em;
    }
    .help{
        display: none;
    }
}
@media only screen and (max-height:400px){
    .sum{
        flex-direction:row;
    }
    .help{
        display: inline;
    }
}