.sum {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.logo{
    padding-top: 0.5em;
    margin-left: 2rem;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    height: 2em;
}
.help{
    padding-top: 0.5em;
    margin-right: 2rem;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    height: 2em;
}
.ul {
    display: flex;
    margin: 2em;
}
.item{
    display: flex;
}
li{
    margin: 0 1rem;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

@media only screen and (max-width:700px){
    .sum{
        display: flex;
        width: 700px;
    }
}