.not-found-flex{
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 20;
    padding: 10vh 2vw;
}
.not-found-flex-row{
    display: flex;
}
.not-found-header{
}
.not-found-text{
}

.not-found-btn{
    
}