.room-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: bold;
    margin: 1em;
}

.Room{
    background-color: rgb(30, 30, 30);    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}