.flex-user-list{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: "header users"
}
.user-element{
    font-family: 'Helvetica', 'Arial', sans-serif;
    overflow-wrap: break-word;
    text-align: center;
    display: inline-block;
    color: white;
    width: 4.5vw;
    margin: 0.5vh;
    background-color: rgb(1, 103, 123);
    border-radius: 0.3em;
}

.user-list{
    padding: 1vh 1vw;
    overflow-y: auto;
    height: 8vh;
    grid-area: "users";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.user-list-header{
    padding: 1vh 0 1vh 0;
    height: 8vh;
    margin: 0;
    grid-area: "header";
}
@media only screen and (max-width:900px){

}