.video-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: none;
    border: none;
    height: 0;
}

.video-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20vh;
}

#Url{
    color:white;
    background-color: rgb(30, 30, 30); 
}

input[type=submit]{
    background-color:rgb(0, 217, 255);
    border: none;
    margin: 1em;
}

label{
    color:white;
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 1em;
}
@media only screen and (max-width:700px){
    .previewVideo{
        display: none;
    }
    .video-input {
        height: auto;
    }
}